.chat {
  width: 260px;
  height: 335px;
  position: relative;
  background-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid 1px #F3F4F5;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.chat-title {
  color: #888888;
  padding: 5px 10px;
  border-bottom: solid 1px #F3F4F5;
}

.chat-close {
  float: right;
  cursor: pointer;
}

.icon-close:before {
  content: "✕";
}
